<!DOCTYPE html>
<html>
  <head>
    <title>Seeds of Creativity - Creating Art & Growing Food</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'soc-fav.jpg' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
